
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/note_list.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Note List</title>
</head>

<body class="note-list_root">
    <div class="blob1">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#F07C68"
                d="M34.9,-56.3C48.7,-52.5,65.7,-50.1,71.8,-41C77.9,-31.8,73.1,-15.9,72.3,-0.5C71.4,14.9,74.5,29.9,71.4,44.2C68.3,58.5,59,72.2,46,74.2C33.1,76.2,16.5,66.5,2.6,62.1C-11.4,57.6,-22.7,58.3,-33.4,55C-44.1,51.7,-54.1,44.3,-63.6,34.5C-73.1,24.7,-82.2,12.3,-79.7,1.4C-77.2,-9.4,-63.1,-18.9,-53.4,-28.3C-43.6,-37.7,-38.1,-47.1,-29.9,-54.2C-21.8,-61.2,-10.9,-65.9,-0.2,-65.7C10.6,-65.4,21.1,-60.1,34.9,-56.3Z"
                transform="translate(100 100)" />
        </svg>
    </div>
    <div class="blob2">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#F07C68"
                d="M55.3,-42.1C71.2,-39.3,83.5,-19.6,84,0.5C84.5,20.7,73.3,41.3,57.3,53.5C41.3,65.7,20.7,69.4,7.8,61.6C-5,53.8,-10.1,34.4,-24.4,22.3C-38.6,10.1,-62.2,5,-65.6,-3.4C-69,-11.9,-52.3,-23.7,-38,-26.5C-23.7,-29.3,-11.9,-22.9,3.9,-26.8C19.6,-30.7,39.3,-44.8,55.3,-42.1Z"
                transform="translate(100 100)" />
        </svg>
    </div>
    <div class="navbar">
        <ul>
            <li><a class="active" href="/lab-4">Home</a></li>
            <li><a href="/lab-4/add-note">Add Note</a></li>
            <li><a href="/lab-4/list-note">Notes List</a></li>
        </ul>
    </div>
    <hr>
    <div class="center">
        <h1>Note List</h1>
    </div>
    <div class="center">
        <p>
        Kumpulan surat-surat untuk orang-orang tercinta dari orang-orang yang tidak dicintai balik.
        </p>
    </div>
    <div class="note-list_cards">
        {% if notes %}
        {% for note in notes %}
        <div class="note-list_card">
            <div class="note-list_container">
                <h4>To : {{note.to_note}}</h4>
                <h4>From : {{note.from_note}}</h4>
                <h3 class="note-list_note-title">{{note.title}}</h3>
                <p>{{note.message}}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    
        <!-- END SECTION -->
</body>

</html>