<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>Note List</title>
</head>

<body class="note-table_root">
    <div class="navbar">
        <ul>
            <li><a class="active" href="/lab-4">Home</a></li>
            <li><a href="/lab-4/add-note">Add Note</a></li>
            <li><a href="/lab-4/list-note">Notes List</a></li>
        </ul>
    </div>
    <hr>
    <div class="center">
        <h1> Note Data Table </h1>
    </div>
    <div class="center">
        <table class="note-table_table">
            <tr>
            <th>to</th>
            <th>from</th>
            <th>title</th>
            <th>message</th>
        </tr>
        {% if notes %}
        {% for note in notes %}
        <tr>
            <td>{{note.to_note}}</td>
            <td>{{note.from_note}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <!-- END SECTION -->
    </table>
</div>
</body>

</html>