.note-table_table {
  border-collapse: collapse;
  width: 90%;
}

.note-table_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f07c68;
  color: white;
}

.note-table_table td,
.note-table_table th {
  border: 1px solid #f0c6b7;
  padding: 8px;
}

.note-table_root {
  background-color: #fbead9;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
