.navbar ul {
  list-style-type: none;
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
  width: 90vw;
  overflow: hidden;
  background-color: transparent;
}

.navbar {
  margin-bottom: 1vw;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
  font-size: large;
}

.navbar li a:hover {
  background-color: #f0c6b7;
  transition: 0.3s;
}

hr {
  width: 90vw;
}

.blob1 {
  position: absolute;
  top: 4vw;
  left: 7vw;
  width: 30vmax;
}

.blob2 {
  position: absolute;
  bottom: -4vw;
  right: 7vw;
  width: 40vmax;
}
