.note-list_root {
  background-color: #fbead9;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.center p {
  display: flex;
  justify-content: center;
  width: 25vw;
  text-align: center;
  margin-top: 0;
}

.note-list_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
  border-radius: 10px;
  transition: 0.3s;
  margin: 10px;
  min-width: 300px;
  padding: 20px;
  position: relative;
}

.note-list_cards {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 30vw 30vw 30vw;
}

.note-list_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.note-list_container {
  padding: 2px 16px;
}
